* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/bg1.jpg');
    background-size: cover
}

.container {
    background-color: rgba(250, 250, 250, .1);
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 6px;
    font-family: 'Cantarell', sans-serif;
    color: white;
    box-shadow: 0 0 3px 1px rgba(250, 250, 250, .2)
}

.top-div {
    height: 300px;
    width: inherit;
    display: flex;
    flex-direction: column;
}

.temperature-description {
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3rem;
    font-size: 1.7rem;
    font-weight: 400;
}

#img-div {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-div img {
    width: 100px;
    height: auto;
}

.location {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    padding: 3rem;
    border-top: 1px solid rgba(0, 0, 0, .5);

}

#input-bar {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1rem;


}

#location {
    width: 500px;
    height: 50px;
    padding: 5px 110px 5px 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.1);
    font-family: 'Cantarell', sans-serif;
}

#submit-btn {
    position: absolute;
    width: 100px;
    height: 50px;
    right: 0px;
    top: 0px;
    font-size: 1rem;
    background: transparent;
    color: white;
    font-family: 'Cantarell', sans-serif;
}

button:hover {
    cursor: pointer;
}

.city-div {
    height: 100px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.degree-section {
    width: 150px;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}
